* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html, body { height: 100%; background-color: #fff; overflow: hidden; }
        
html { height: 100%; }
        
body { min-height: 100%; margin: 0; background-image: url(../imgs/home-bg.jpg); }
    
.logo{ 
    display: block; 
    margin: 5% auto 2%; 
    width: 25%; 
}

.coming-soon{ 
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 20px;
    border: 1px solid;
    width: 250px;
    border-radius: 5px;
    font-size: 24px;
    text-decoration: none;
}

.coming-soon:hover {
    background-color: #FFFF03;
    color: #D2101F;
}

.login {
  width: 400px;
  display: table;
  margin: 0 auto;
  border-radius: 4px;
}
.legend {
  position: relative;
  width: 100%;
  display: block;
  background: #1D75B5;
  padding: 15px;
  color: #fff;
  font-size: 20px;
}
.legend:after {
  content: "";
  /*background-image: url(http://simpleicon.com/wp-content/uploads/multy-user.png);*/
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: 285px -16px;
  opacity: 0.06;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
.input {
  position: relative;
  width: 90%;
  margin: 15px auto;
}
.input span {
  position: absolute;
  display: block;
  color: #d4d4d4;
  left: 10px;
  top: 26px;
  font-size: 20px;
}
.input input {
  width: 100%;
  padding: 10px 5px 10px 20px;
  display: block;
  border: 1px solid #EDEDED;
  border-radius: 4px;
  transition: 0.2s ease-out;
  color: #a1a1a1;
}
.input input:focus {
  padding: 10px 5px 10px 10px;
  outline: 0;
  border-color: #1D75B5;
}

.input label {
    font-size: 15px;
    color: #949494;
    font-weight: 300;
}

.submit {
  width: 140px;
  height: 35px;
  display: block;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #1D75B5;
  background-color: #1D75B5;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
  box-shadow: 0px 0px 0px 7px #fff;
  transition: 0.2s ease-out;
}
.submit:hover,
.submit:focus {
  background: #4080AF;
  color: #fff;
  outline: 0;
}
.feedback {
  position: absolute;
  bottom: -70px;
  width: 100%;
  text-align: center;
  color: #fff;
  background: #2ecc71;
  padding: 10px 0;
  font-size: 12px;
  display: none;
  opacity: 0;
}
.feedback:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(46, 204, 113, 0);
  border-bottom-color: #2ecc71;
  border-width: 10px;
  margin-left: -10px;
}


@media all and (max-width: 425px){
    
    .logo {
        margin: 7% auto 5%;
        width: 40%;
    }
    
    .login{
        width: 80%;
    }
    
}
